html {
  font-size: 12px;
}
.container{
  max-width: 1200px;
  margin: auto;
}
.banniere  {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between ;
  align-items: center;
  height: 6rem;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  height: 9rem;
  padding-top: 4rem;
  padding-right: 2rem;
}
.ic img {
  height: 2.7rem;
  padding: 1rem;
}
.product {
  display: flex;
  padding: 7rem 2rem;
}
.bracelet {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  width: 40%;
  height: 350px;
}
.bracelet img {
  width: 60%;
}
.price {
  padding-left: 4rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
h1,
h2,
p {
  font-family: Quicksand;
  font-weight: bold;
}
.price h1 {
  font-size: 3rem;
}
.price h2 {
  padding-left: 4rem;
  font-size: 4.5rem;
}
.black {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  text-decoration: none;
  height: 80px;
  width: 200px;
}
.black p {
  color: white;
  font-size: 2rem;
}
.text {

}
.text p{
  font-size: 1.5rem;
}
a,
.logo img {
  display: inline-block;
  transition-duration: 0.3s;
}

a:hover {
  transform: scale(1.2);
}
.logo img:hover {
  transform: rotate(360deg);
}
